---
export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>scout4all</title>
    <script>
      const userLang = navigator.language || navigator.userLanguage;
      const langCode = userLang.startsWith('it') ? 'it' : 'en';
      window.location.href = `/scoutforall/${langCode}/`;
    </script>
  </head>
  <body>
    <p>redirecting...</p>
  </body>
</html>
